// Specific CSS for your home-page

// .sticky {
//   overflow: hidden;
//   display: flex;
//   justify-content: space-between;
//   background-color: rgb(66, 66, 66);
//   position: sticky;
//   top: 0;
// }

// .nav_links {
//   list-style: none;
//   padding-left: 0px;
//   display: flex;
// }

// .sticky a {
//   display: flex;
//   color: #00ff4c;
//   text-align: center;
//   text-decoration: none;
//   padding: 10px;
// }

// .sticky a:hover {
//   color: rgb(255, 255, 255);
// }

// .icon_logo {
//   font-size: 20px;
// }

// .logo {
//   display: flex;
// }
.share-toilet-container {
  margin:0 auto;
  text-align: center;
  padding-bottom: 70px;
} h2 {
  padding-top: 20px;
}
