.index-page {
  display: flex;
}

.search-results {
  width: 60%;
}

#map {
  position: sticky;
  top: 70px;
}

.searchblock {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.toilet-index-container {
  h2 {
    color: rgb(66,66,66);
  }
  a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: larger;
    &:hover {
      color: black;
      opacity: 1;
    }
  }
}

.searchbar {
  width: 400px;
  box-shadow: 1px 1px 5px 5px rgb(224, 224, 224);
  border-radius: 20px;
}

.fixbutton {
  margin-bottom: 4px;
}

// .submit-button {
// }

// .cards-index {
// }

.card-index {
  display: flex;
  height: 170px;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
}

.picture {
  text-align: center;
  background-image: asset-url('toilet-index-card.jpg');
  background-size: cover;
  background-position: center;
  height: 160px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
}

.line {
  margin-left: 20px;
  margin-right: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
}

// p {
//   padding: 0px, 0px;
// }

.inside-line {
  width: 20px;
}

.card-info {
  padding-left: 20px;
}

.form-control {
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
}

.magnifier {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 8px;
  margin-left: -35px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(66, 66, 66);
  opacity: 70%;
  &:hover {
    opacity: 100%;
  }
}

.loupe {
  // height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: -20px;
}

.fas {
  font-size: 12px;
  color: #3BE4E6
}
