.index-page {
  display: flex;
}

.search-results {
  width: 60%;
}

#map {
  position: sticky;
  top: 0;
}

.searchblock {
  height: 100px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.toilet-index-container {
  h2 {
    color: rgb(66,66,66);
  }
  a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: larger;
    &:hover {
      color: black;
      opacity: 1;
    }
  }
}

// .searchbar {

// }

// .submit-button {

// }

// .cards-index {

// }

.card-index {
  background-image: asset-url('toilet-index-card.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.form-control {
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
}

.magnifier {
  margin-top: 4px;
  margin-left: -35px;
  margin-right: 700px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(66, 66, 66);
  opacity: 70%;
  &:hover {
    opacity: 100%;
  }
}

.fas {
  font-size: 12px;
  color: #3BE4E6
}
