h2 {
  padding: 20px 40px;
}

ul {
  list-style-type: none;
}

.toilet-container {
  margin: 0 auto;
  width: 700px;
}

.toilet-img {
  background-size: cover;
  height: 300px;
  width: 500px;
  padding: 0 auto;
}

.toilet-description {
  padding-top: 20px;
}

.btn-grey a {
  text-decoration: none;
  background-color: #424242;
  color: #3BE4E6;
  padding: 10px;
  border: 1px solid #424242;
  border-radius: 5px;
  margin: 0 auto;
  width: 100px;
}
