.toilet-index-container {
  h2 {
  color: rgb(66,66,66);
  }
  a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: larger;
    &:hover {
      color: black;
      opacity: 1;
    }
  }
}

.searchblock {
  justify-content: center;
  // text-align: center;
  display: flex;
}

.searchbar {
  padding: 40px;
  width: 30%;
  display: flex;
  // box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.form-control {
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
}

.magnifier {
  margin: 40px;
  margin-right: 500px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(66, 66, 66);
  opacity: 70%;
  &:hover {
    opacity: 100%;
    transition: background 0.2s ease;
  }
}

.fas {
  font-size: 12px;
  color: #3BE4E6
}
