<nav class="sticky">
  <div class="logo">
    <a class="icon_logo" href="#logo"><i class="fas fa-toilet-paper"></i></a>
    <p>Toilet chefs</p>
  </div>
  <ul class="nav_links">
    <li><%= link_to "current_user_show", current_user %>Profile</li>
    <li><a href="#sign in">Sign in</a></li>
  </ul>
</nav>
<h1>Pages#home</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p>Find me in app/views/pages/home.html.erb</p>
