<div class="banner button">
  <h1>Easily find the best toilet in town!</h1>
  <%= link_to "Find a toilet", toilets_path %>
</div>
<div class="share-toilet-container button">
    <h2>Having the perfect toilet ? Contribute to our community !</h2>
    <%= link_to "share my toilet", new_toilet_path %>
</div>
