<ul>
<% @toilets.each do |toilet| %>
  <h2><%= link_to toilet.name, toilet_path(toilet) %></h2>
<% end %>
</ul>

<%= link_to "create a toilet", new_toilet_path %>
<%= link_to "login", new_user_session_path %>
