<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<ul>
<% @toilets.each do |toilet| %>
  <h2><%= link_to toilet.name, toilet_path(toilet) %></h2>
<% end %>
</ul>

<%= link_to "create a toilet", new_toilet_path %>
