.banner {
  background-image: asset-url('toilets-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(66,66,66);
  text-align: center;
  padding-top: 40vh;
  font-size: x-large;
  padding-top: 150px;
} h1 {
  font-size: 70px;
}
