.banner {
  background-image: asset-url('toilets-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
  color: rgb(66,66,66);
  text-align: center;
  padding: 45px;
  font-size: x-large;
}
