.card-your-toilet {
  background-color: white;
  // padding: 20px;
  margin: 20px;
  // display:flex;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 5px lightgray;
  // width: 100%;
  position: relative;
}

.content {
  padding: 20px;
  margin-bottom: 40px;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  // justify-content: flex-end;
    a {
    text-decoration: none;
    color:black;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.delete {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.cards-your-toilet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.paige-container {
  background-color: rgb(232,232,228);
}

// .image {
//   // width: 50%;
//   // height: 50%;
// }
