.content-push{
  margin-top: 70px;
}
.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(66, 66, 66);
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar a:hover {
  text-decoration: none;
  color: #ffffff;
}

.logo-link i {
  color: #3BE4E6;
  font-size: 30px;
}

.logo-link span {
  color: #3BE4E6;
  font-family: "Ubuntu", "sans serif";
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
  text-decoration: none;
  color: #3BE4E6;
  &:hover {
    color: #ffffff;
  }
}

.dropdown-item {
  &:hover {
    color: #3BE4E6;
  }
}
