.card-index {
  background-image: asset-url('toilet-index-card.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.cards-index {
  display: flex;
}
